{{page-title "Questionnaire"}}
<div class="flex flex-col h-full w-full">
    <nav class="px-5 py-3">
        <img src="/imgs/logo.png" alt="logo-image" class="h-5 md:h-6" />
    </nav>
        {{outlet}}
    {{!-- bottom space --}}
    <footer>
        <div class="container">
            {{!-- Clack Coding Challenge Frontend submitted by Joshua Opata --}}
        </div>
    </footer>
</div>