{{page-title "Questionnaire"}}
<div class="flex flex-col">
    <nav class="px-5 py-3">
        <img src="/imgs/logo.png" alt="logo-image" class="h-5 md:h-6" />
    </nav>
    <div class="container max-w-screen-lg mx-auto px-6 md:px-0">
        {{outlet}}
    </div>
    {{!-- bottom space --}}
    <div class="bottom-space"></div>
    <footer>
        <div class="container">
            {{!-- Clack Coding Challenge Frontend submitted by Joshua Opata --}}
        </div>
    </footer>
</div>