{{page-title "Questionnaire"}}
<div class="flex flex-col h-full w-full">
    <nav class="px-5 py-3 flex justify-between items-center">
        <LinkTo @route="index"><img src="/imgs/logo.png" alt="logo-image" class="h-5 md:h-6" /></LinkTo>
        <DarkModeToggle/>
    </nav>
    {{outlet}}
</div>